#logo, #mob-logo {
    line-height: 1 !important;
}

p.wp-caption-text {
    font-size: 0.75rem;
    font-style: italic;
    color: #888888;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0em;
}

.cb-entry-content .alignnone {
    padding: 1rem 0 0.5rem 0;
}

.cb-module-header .cb-module-title {
    margin: 0;
    font-weight: 500;
    position: relative;
    display: inline-block;
    letter-spacing: 0px;
    padding: 0 30px 0 0;
    line-height: 1.2;
    text-transform: none;
}

.cb-body-light .cb-module-header .cb-module-title:after {
    background: none;
}

body {
    font-size: 18px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.cb-entry-content a:hover {
    text-decoration: none;
}

.cb-entry-content a {
 background-image: linear-gradient(to bottom, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8) 75%);
 background-repeat: repeat-x;   
 text-decoration: none;
 background-size: 2px 2px;
 background-position: 0 18px;
 background-color:transparent;
 color: inherit;
}

.cb-body-light h2 {
    font-size: 1.25rem;
    margin-top: 2.5rem;
    color: #888888;
}

.cb-body-light h2, .cb-body-light h2 b, .cb-body-light h2 strong {
    font-weight: 300;   
}

